[submodule "common-core/Circle2/so_long/mlx"]
	path = common-core/Circle2/so_long/mlx
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "common-core/Circle3/minishell"]
	path = common-core/Circle3/minishell
	url = https://github.com/Christellaa/minishell.git

[submodule "common-core/Circle4/cub3d"]
	path = common-core/Circle4/cub3d
	url = https://github.com/Christellaa/Cub3D.git
[submodule "common-core/Circle5/irc"]
	path = common-core/Circle5/irc
	url = https://github.com/Christellaa/irc.git
